html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #efeeee;
}

.mainContainer {
    width: 1024px;
    margin: 0 auto;
}
.btn {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 10px 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    border: 1px solid rgba(0, 136, 232, 0.64);
    background-color: #fff;
    color: rgba(0, 136, 232, 0.64);

}
.btn:hover {
  color: #fff;
  background-color: rgba(0, 136, 232, 0.64);
  border: 1px solid transparent;
}
.header {
  width: 100%;
  height: 70px;
  background-color: rgba(232, 139, 0, 0.64);
  background-color: #fff;
  border-bottom: 2px solid rgba(232, 139, 0, 1);
  /*box-shadow: 0 2px 5px #c7c7c7;*/
}
.header .mainContainer {
    height: 100%;
}
a.headerLogo {
    display: block;
    float: left;
    height: 100%;
    line-height: 70px;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    color: rgba(232, 139, 0, 0.7);
    font-weight: bold;
}
.footer {
  width: 100%;
  height: 40px;
  background-color: rgba(232, 139, 0, 0.64);
  padding: 30px 0;
  color: #fff;
}
.mainBody {
    padding: 60px;
    min-height: 700px;
    box-shadow: 0 2px 5px #7d7d7d;
}


.sunItem {
    display: block;
    float: left;
    width: 250px;
    height: 350px;
    margin: 0 15px 15px 0;
    background-color: #fff;
    border: 2px solid #efeeee;
}
.sunItem:hover {
  border: 2px solid rgba(0, 136, 232, 0.64);
}
.sunItem:hover .sunItemHeader {
    color: #fff;
    background-color: rgba(0, 136, 232, 0.64);
    border-bottom: 2px solid #fff;
}
.sunItem.opened {
  height: auto;
  padding-bottom: 15px;
}
.sunItemHeader {
  padding: 15px;
  border-bottom: 2px solid #efeeee;
  font-weight: bold;
}
.sunItemBody {
    padding: 15px 15px 0;
    font-size: 12px;
    box-sizing: border-box;
    height: 190px;
    overflow: hidden;
}
.sunItem.opened .sunItemBody {
  height: auto;
}
.sunItemBody table {
  width: 100%;
}
.sunItemBody table tr td {
  padding: 5px 0;
}
.sunItemBody table tr td:first-child {
  width: 40%;
  color: #666;
  text-align: left;
  vertical-align: top;
}
.sunItemBody table tr td:last-child {
  width: 60%;
  color: #333;
  text-align: right;
  vertical-align: top;
}
.sunItemMorePreWr {
  padding: 0 15px 15px;
  font-size: 16px;
  color: #666;
}
.sunItem.opened .sunItemMorePreWr {
  display: none;
}
.sunItemMore {
    text-align: right;
    padding: 0 15px;
}
